<!DOCTYPE html>
<html>
<head>
    <title>Zesty Zomato</title>
</head>
<style>
#heading
{
    text-align: center;
}
#opt
{
    text-align: center;
    font-size: 25px;
}
a
{
    text-decoration: none;
    color: black;
}
ul
{
    display: flex;
}
li
{
    margin-left: 30%;
    font-size: 25px;
    list-style-type: none;
}
</style>
<body>
    <h1 id="heading">Welcome to Zesty Zomato</h1>
    <p id="opt">Choose an option:</p>
    
        <ul>
            <li><a href="/menu">Manage Menu</a></li>
            <li><a href="/order">Manage Orders</a></li>
        </ul>
    </div>
   
</body>
</html>
