<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
</head>
<body>
    <h1>Menu</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Availability</th>
        </tr>
        {% for dish in menu %}
        <tr>
            <td>{{ dish['id'] }}</td>
            <td>{{ dish['name'] }}</td>
            <td>{{ dish['price'] }}</td>
            <td>{{ 'Available' if dish['availability'] else 'Not Available' }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/menu/add">Add Dish</a>
    <br>
    <a href="/menu/remove">Remove Dish</a>
    <br>
    <a href="/menu/update">Update Availability</a>
    <br>
    <br>
    <a href="/">Go Back</a>
</body>
</html>
